/* Container for the navbar */
.navbar-items {
    width: 100%;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    position: relative;
}

/* Container for the Woo Woo Network logo on the navbar */
.logo-container {
    width: 10vh;
    height: 10vh;
    object-fit: fill;
}

/* Styling applied to the Woo Woo Network logo */
.logo {
    height: 100%;
    width: auto;
}

/* Menu Links (middle buttons) */
.navbar-nav .nav-link {
    color: black;
    padding: 0.5rem 1rem;
    z-index: 100;
}

.navbar-nav .nav-link:hover {
    background-color: #6c757d;
    border-radius: 10px;
    transition: all 0.3s ease-out;
}

/* Button Styles (Account, Sign In, Sign Up, etc.) */
.sign-up-buttons button {
    margin-left: 0;
    width:fit-content;
}

/* Styling applied to the sign-in button on the navbar */
.sign-in-button button {
    background: initial;
}
